.header {
  z-index: 1000;
  height: 100px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;

  .header-toppage {
    padding: 0 80px 0 80px;
    @include screen(767) {
      padding: 0;
    }

    .navbar-collapse {
      width: 100%;
      @include screen(767) {
        justify-content: space-between;
        flex-direction: row-reverse;
      }
    }

    .navbar-dark .navbar-toggler {
      border: none;
    }

    .navbar-dark .navbar-toggler-icon {
      color: white;
    }
  }

  .container-fluid {
    padding-right: unset !important;
    padding-left: unset !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 188px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-item {
    font-size: 14px;
  }

  .dropbtn {
    background: transparent;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 600;
    display: flex;
    justify-content: center;

    ::after {
      content: url("@/assets/images/IconArrowDown.svg");
      margin-left: 7px;
    }

    @include screen(767) {
      display: none;
    }
  }

  .logo {
    @include screen(767) {
      width: 100px;
    }
  }

  .nav-link {
    color: #fff !important;
  }

  .menu {
    position: fixed;
    height: 100%;
    z-index: 10;
    top: 0px;
    width: 100%;
    background-color: #fff;
    left: 0;

    .header {
      justify-content: space-between;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 188px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 10px;
      @include screen(767) {
        min-width: 195px;
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropbtn {
      background: #f6f6f6;
      color: #fff;
      font-size: 16px;
      align-items: center;
      cursor: pointer;
      border: 1px solid #afafaf;
      font-weight: 600;
      display: flex;
      justify-content: center;
      border-radius: 10px;

      ::after {
        content: url("@/assets/images/IconArrowDownFill.svg");
        margin-left: 7px;
      }
    }

    .nav-item {
      margin-top: 10rem;
      line-height: 75px;
      text-align: center;
      font-family: "Montserrat";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      p {
        margin-bottom: 0;
      }

      &__title {
        border-top: 2px solid #eeeeee;
      }
    }
  }
}
